{% extends base_template %}

{% block content_body %}
    <div class="content">
        <div class="container">
            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            {% for key, message in app.session.flashbag.all() %}
                <div class="alert alert-{{ key }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}

            <div class="bande-unique row">
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>
        </div>
    </div>
{% endblock %}